@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900');

$theme: #4598d0;
$red: #187be2;
$red-l: rgba(24,123,226,0.25);
$black: #090909;
$round: 8px;


html, body{
    width: 100%;
    
}

html{
    background: #6b51a0;
    background: -moz-linear-gradient(-45deg, #6b51a0 0%, #40abdf 100%);
    background: -webkit-linear-gradient(-45deg, #6b51a0 0%,#40abdf 100%);
    background: linear-gradient(135deg, #6b51a0 0%,#40abdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b51a0', endColorstr='#40abdf',GradientType=1 );
}

body{
	font: 23px 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    max-width: 1920px;
    margin: 0 auto;
	color: #fff;
    padding: 1em 0 0;
    -webkit-font-smoothing: antialiased;
}

*:focus{
    outline: none;
}

.box-sizing{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.clear{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

h1{
    font-weight: 900;
    font-size: 3.8em;
    line-height: 0.9em;
    padding: 0 0 0.25em 0;
}

h3{
    font-size: 1.4em;
    font-weight: 400;
}

p{
	color: #fff;
	line-height: 1.2em;
}


.round{
    border-radius: $round;
}

.link, 
.link_noborder{
	color: #fff;
	-webkit-transition: color 0.2s ease;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    &_noborder{
        border-bottom: none;
    }
	&:hover, &:active{
        opacity: 0.65;
	}
}

.text{
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
    &-sm{
        font-size: 0.7em;
    }
    &-md{
        font-size: 1em;
    }
    &-lg{
        font-size: 1.6em;
    }
    &-xl{
        font-size: 3em;
    }
}

.title{
    @extend .text-lg;
    font-weight: 700;
}

.container-fluid{
    padding: 0 30px !important;
}

.section{
    padding: 5em 0;
    &-offer{
        padding: 0 30px;
    }
}

.menu{
    &__contact{
        display: inline-block;
        margin:  0 0 0 30px;
    }
}

.header{
    &__logo{
        font-weight: 700;
        &__img{
            margin-right: 5px;
        }
    }
    &__hello{
        @extend .text-md;
        padding-bottom: 0.25em;
    }
    &__name{
        @extend .text-xl;
        font-weight: 700;
        line-height: 1.1em;
        padding: 0 0 0.15em 0;
    }
    &__text{
        @extend .text-lg;
        font-weight: 400;
    }
    &__face{
        display: inline-block;
        width: 100%;
        max-width: 350px;
        border-radius: 300px;
    }
}

.offer{
    background: rgba(0,0,0,0.05);
    padding: 5em 0;
    border-radius: 25px;
    &__img{
        margin-bottom: 1em;
    }
    &__title{
        @extend .text-lg;
        font-weight: bold;
        line-height: 1.1em;
    }
}

.work{
    // background: rgba(0,0,0,0.05);
    &__title{
        padding-bottom: 1em;
    }
}



.item{
    margin-bottom: 3em;
	&__img{
		margin-bottom: 0.33em;
        border-radius: 25px;
        max-width: 100%;
        width: 100%;
        &_noround{
             border-radius: 0px;
        }
	}
	&__name{
        font-weight: 700;
		padding-bottom: .25em;
	}
	&__description{
	}
    &__time{
        opacity: 0.33;
    }
	&:hover .link{
		opacity: 0.65;
	}
    &:hover .item__image{
        transform: translateY(-10px);
    }
    &_nohover{
        &:hover .item__image{
            transform: none;
        }
    }
}

.footer{
    // background: rgba(0,0,0,0.75);
    background:#222;
	padding: 5em 0;
    // border-radius: 25px 25px 0 0;
    &__title{
        padding-bottom: 2em;
    }
    &__line{
        border-top: 2px solid rgba(255, 255, 255, 0.05);
    }
    &__contact{
        padding-bottom: 2em;
    }
	&__contact__item{
        @extend .text-lg;
		margin-bottom: 1em;
        display: inline-block;
        margin-right: 30px;
	}
    &__likely{
        padding-bottom: 2em;
    }
    &__copy{
        padding-top: 0.25em;
        opacity: .3;
    }
}

.likely{
    vertical-align: top;
}


@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 992px) {

    h1{
        font-size: 3em;
        padding: 0 0 0.25em 0;
    }

    p{
        margin-bottom: 0px;
    }

    .section{
        padding: 0 0 3em 0;
        &-header{
            padding-left: 15px;
            padding-right: 15px;
        }
        &-offer{
            padding: 0 30px;
        }
    }

    .offer{
        padding: 2em 1em 1em;
        &__block{
            padding: 0 0 3em 0;
        }
    }

    .menu{
        display: none;
    }

     .header{
        &__face{
            margin-bottom: 20px;
        }
    }

    .text{
        &-left{
            text-align: left;
        }
    }

    .text{
        &-center{
            text-align: center;
        }
        &-right{
            text-align: right;
        }
        &-sm{
            font-size: 0.7em;
        }
        &-md{
            font-size: 0.8em;
        }
        &-lg{
            font-size: 1.2em;
        }
        &-xl{
            font-size: 2em;
        }
    }

}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 576px) {


}



