@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');

$color: #0e7aff;
// $red: #ff1627;
// $red-l: rgba(230,9,0,0.25);
$red: #187be2;
$red-l: rgba(24,123,226,0.25);
$black: #090909;

.box-sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.clear{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

html{
    background: #6b51a0;
    background: -moz-linear-gradient(-45deg, #6b51a0 0%, #40abdf 100%);
    background: -webkit-linear-gradient(-45deg, #6b51a0 0%,#40abdf 100%);
    background: linear-gradient(135deg, #6b51a0 0%,#40abdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b51a0', endColorstr='#40abdf',GradientType=1 );
}

body{
	font: 21px 'Ubuntu', Helvetica, Arial, sans-serif;
	color: #fff;
    max-width: 1680px;
    margin: 0 auto;
    padding: 30px 2% 30px;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 2.8em;
    line-height: 1.2em;
    padding: 0.5em 0 1em;
}

h3{
    font-size: 1.4em;
    font-weight: 400;
}

p{
	color: #fff;
	line-height: 1.2em;
    margin-bottom: 0.5em;
}

.link{
	color: #fff;
	-webkit-transition: color 0.2s ease;
    border-bottom: 1px solid rgba(255,255,255,0.25);
	&:hover, &:active{
        opacity: 0.65;
        border-bottom: 1px solid $red-l;
	}
}

.header{
    @extend .clear;
	padding: 30px 30px 5em;
	position: relative;
    &__block{
        float: left;
        &_left{
            width: 70%;
            margin-right: 5%;
        }
        &_right{
            width: 25%;
        }
    }
	&__face{
        display: inline-block;
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
	&__name{
        padding: 0.5em 0;
	}
}

.grid{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.title{
    padding: 0 30px 60px;
}

.item{
	display: block;
	width: 33.33333%;
  	padding: 0 35px 100px 35px;
  	@extend .box-sizing;
  	&_2x{
  		width: 50%;
  		& .item__image{
  			max-width: 730px;
  		}
  	}
	&__image{
		padding-bottom: 1em;
		width: 100%;
        transition: transform 0.4s ease;
        &_round{
            margin: -2.5% -2.5% 0 -2.5%;
            width: 105%;
        }
	}
	&__title{
		padding-bottom: .1em;
        font-weight: 700;
        font-size: 1em;
	}
	&__description{
		padding: 0 0 1em;
		font-size: 0.85em;
	}
	&__do{
		font-size: 0.85em;
		color: #fff !important;
        display: inline-block;
        background: rgba(0,0,0,0.22);
        padding: 4px 9px;
        border-radius: 6px;
        margin: 8px 12px 0 -9px;
	}
    &__time{
        margin: 0.3em 0 0.9em 0;
        font-size: 0.7em;
        opacity: 0.15;
    }
	&:hover .link{
		opacity: 0.65;
	}
    &:hover .item__image{
        transform: translateY(-10px);
    }
    &_nohover{
        &:hover .item__image{
            transform: none;
        }
    }
}

.footer{
	padding: 2em 0px 1em;
    border-top: 2px solid rgba(255, 255, 255, 0.05);
    margin: 0 30px;
    position: relative;
	&__contact{
		margin-bottom: 1em;
	}
}

.phone{
	color: #fff;
}

.social{
	padding-top: 2em;
}

.copyright{
    position: absolute;
    right: 0;
    bottom: 1em;
}

@media screen and (max-width: 1360px) {
    body{
        max-width: 1200px;
    }
	.item{
        width: 33.3333%;
        &_2x{
            width: 66.6666%;
        }
	}
}

@media screen and (max-width: 1024px) {

    h1{
        font-size: 2.2em;
        padding: 0.5em 0;
    }

    p{
        margin-bottom: 0px;
    }

    .header{
        &__block{
            float: none;
            &_left{
                width: 100%;
            }
            &_right{
                margin-top: 60px;
                width: auto;
                position: relative;
                padding-left: 140px;
            }
        }
        &__face{
            display: inline-block;
            position: absolute;
            left: -5px;
            top: -5px;
            width: 120px;
            height: 120px;
            border-radius: 100px;
            float: left;
        }
        &__name{
            padding: 0 0;
        }
    }

	.item{
        width: 50%;
        &_2x{
            width: 100%;
        }
	}
    .header{
		padding: 0 30px 5em;
        &__description{
            font-size: 1em;
            position: relative;
            top: 0;
            left: 0;
        }
	}
    .footer{
        margin: 0 25px;
    }
    .copyright{
        position: static;
        padding-top: 2em;
    }
}

@media screen and (max-width: 640px) {

    h1{
        font-size: 1.8em;
    }

    .header{
        &__block{
            float: none;
            &_left{
                width: 100%;
            }
            &_right{
                margin-top: 60px;
                width: auto;
                position: relative;
                padding-left: 0;
            }
        }
        &__face{
            display: inline-block;
            position: inherit;
            width: 120px;
            height: 120px;
            border-radius: 100px;
            float: none;
            margin-right: 20px;
        }
        &__name{
            padding: 0 0;
        }
    }

	.item{
		width: 100%;
		padding: 0 25px 75px;
        &__image{
            width: 100%;
            max-width: 330px !important;
        }
	}
	
}


