@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900");
html, body {
  width: 100%; }

html {
  background: #6b51a0;
  background: -moz-linear-gradient(-45deg, #6b51a0 0%, #40abdf 100%);
  background: -webkit-linear-gradient(-45deg, #6b51a0 0%, #40abdf 100%);
  background: linear-gradient(135deg, #6b51a0 0%, #40abdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b51a0', endColorstr='#40abdf',GradientType=1 ); }

body {
  font: 23px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto;
  color: #fff;
  padding: 1em 0 0;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: none; }

.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

h1 {
  font-weight: 900;
  font-size: 3.8em;
  line-height: 0.9em;
  padding: 0 0 0.25em 0; }

h3 {
  font-size: 1.4em;
  font-weight: 400; }

p {
  color: #fff;
  line-height: 1.2em; }

.round {
  border-radius: 8px; }

.link,
.link_noborder {
  color: #fff;
  -webkit-transition: color 0.2s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  .link_noborder,
  .link_noborder_noborder {
    border-bottom: none; }
  .link:hover, .link:active,
  .link_noborder:hover,
  .link_noborder:active {
    opacity: 0.65; }

.text-center {
  text-align: center; }
.text-right {
  text-align: right; }
.text-sm {
  font-size: 0.7em; }
.text-md, .header__hello {
  font-size: 1em; }
.text-lg, .title, .header__text, .offer__title, .footer__contact__item {
  font-size: 1.6em; }
.text-xl, .header__name {
  font-size: 3em; }

.title {
  font-weight: 700; }

.container-fluid {
  padding: 0 30px !important; }

.section {
  padding: 5em 0; }
  .section-offer {
    padding: 0 30px; }

.menu__contact {
  display: inline-block;
  margin: 0 0 0 30px; }

.header__logo {
  font-weight: 700; }
  .header__logo__img {
    margin-right: 5px; }
.header__hello {
  padding-bottom: 0.25em; }
.header__name {
  font-weight: 700;
  line-height: 1.1em;
  padding: 0 0 0.15em 0; }
.header__text {
  font-weight: 400; }
.header__face {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  border-radius: 300px; }

.offer {
  background: rgba(0, 0, 0, 0.05);
  padding: 5em 0;
  border-radius: 25px; }
  .offer__img {
    margin-bottom: 1em; }
  .offer__title {
    font-weight: bold;
    line-height: 1.1em; }

.work__title {
  padding-bottom: 1em; }

.item {
  margin-bottom: 3em; }
  .item__img {
    margin-bottom: 0.33em;
    border-radius: 25px;
    max-width: 100%;
    width: 100%; }
    .item__img_noround {
      border-radius: 0px; }
  .item__name {
    font-weight: 700;
    padding-bottom: .25em; }
  .item__time {
    opacity: 0.33; }
  .item:hover .link {
    opacity: 0.65; }
  .item:hover .item__image {
    transform: translateY(-10px); }
  .item_nohover:hover .item__image {
    transform: none; }

.footer {
  background: #222;
  padding: 5em 0; }
  .footer__title {
    padding-bottom: 2em; }
  .footer__line {
    border-top: 2px solid rgba(255, 255, 255, 0.05); }
  .footer__contact {
    padding-bottom: 2em; }
  .footer__contact__item {
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 30px; }
  .footer__likely {
    padding-bottom: 2em; }
  .footer__copy {
    padding-top: 0.25em;
    opacity: .3; }

.likely {
  vertical-align: top; }

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3em;
    padding: 0 0 0.25em 0; }

  p {
    margin-bottom: 0px; }

  .section {
    padding: 0 0 3em 0; }
    .section-header {
      padding-left: 15px;
      padding-right: 15px; }
    .section-offer {
      padding: 0 30px; }

  .offer {
    padding: 2em 1em 1em; }
    .offer__block {
      padding: 0 0 3em 0; }

  .menu {
    display: none; }

  .header__face {
    margin-bottom: 20px; }

  .text-left {
    text-align: left; }

  .text-center {
    text-align: center; }
  .text-right {
    text-align: right; }
  .text-sm {
    font-size: 0.7em; }
  .text-md, .header__hello {
    font-size: 0.8em; }
  .text-lg, .title, .header__text, .offer__title, .footer__contact__item {
    font-size: 1.2em; }
  .text-xl, .header__name {
    font-size: 2em; } }
