<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Заголовок</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.grid.css" rel="stylesheet" type="text/css">
    <link href="plugins/fotorama/fotorama.css" rel="stylesheet" type="text/css">
    <link href="plugins/likely/likely.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/js.js"></script>
    <script src="plugins/fotorama/fotorama.js"></script>
    <script src="plugins/likely/likely.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">Раз</div>
        <div class="col-md-3">Два</div>
        <div class="col-md-3">Три</div>
        <div class="col-md-3">Четыре</div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
      	$('.class').addClass('.class__active')
      });
    </script>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>