extends layout/main

block title
	| Иван Лихачев. Создание лендингов и мини-сайтов

block content

	.section-menu.menu.emerge(data-effect="slide" data-down="2cm")
		.container-fluid
			.row
				.col-md-3
					.header__logo 
					//- img(src="img/icons/file.svg", alt="").header__logo__img
					|  zaverstal.ru
				.col-md-9.text-right
					.menu__contact
						a.link_noborder(href="tel:79068991681") +7 906 899-16-81
					.menu__contact
						a.link(href="https://vk.com/lihachev_ivan") vk.com/lihachev_ivan
					.menu__contact почта: 
						a.link_noborder(href="mailto:design@dinix.ru") design@dinix.ru



	.section.section-header.header.d-flex
		.container.text-left
			.row.align-items-center
				.col-lg-8.order-lg-1.order-2
					.header__title.emerge(data-effect="slide" data-right="2cm" data-up="0px")
						.header__hello Привет! Меня зовут
						.header__name Иван Лихачев
						.header__text Работаю дизайнером сайтов и&nbspмобильных приложений с&nbsp2010 года. Обучаю HTML верстке. Живу в&nbspМагнитогорске
				.col-lg-4.order-lg-2.order-1
					img.emerge(data-effect="zoom" data-scale="0.85" ).header__face(class="myself__face" src="img/face.jpg" alt="Иван Лихачев")



	.section-offer
		.offer
			.container
				.row
					.col-lg-6
						.offer__block
							img(src="img/icons/create.svg", alt="").offer__img.emerge(data-effect="slide" data-up="2cm")
							.offer__title Создание сайта или лендинга
							p Создам сайт или лендинг для вашего продукта или услуги
					.col-lg-6
						.offer__block
							img(src="img/icons/html.svg", alt="").offer__img.emerge(data-effect="slide" data-up="2cm")
							.offer__title Научу верстать сайты
							p Базовая или продвинутая html верстка. Удаленно


	.section.section-work.work
		.container-fluid
			.title.work__title.text-center Портфолио 
			.row.grid
				.grid-sizer.col-xl-4.col-md-6

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="http://glavmaket.ru")
						img(src="img/projects/glavmaket.jpg", alt="").item__img
					.item__name 
						a(href="http://glavmaket.ru").link Сайт компании ГлавМакет
					.item__time Ведение проекта, дизайн и&nbspверстка. Февраль 2018

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="http://avtoteam74.ru")
						img(src="img/projects/avtoteam74.jpg", alt="").item__img
					.item__name 
						a(href="http://avtoteam74.ru").link Лендинг компании AvtoTeam74
					.item__time Ведение проекта, дизайн и&nbspверстка. Январь 2018

				//- .item.grid-item.emerge.col-xl-4.col-md-6.site
				//- 	a(href="http://muzbay.ru")
				//- 		img(src="img/projects/muzbay.jpg", alt="").item__img
				//- 	.item__name 
				//- 		a(href="http://muzbay.ru").link Muzbay. Педалборды и гитарные ремни
				//- 	.item__time Ведение проекта, дизайн и&nbspверстка. Декабрь 2017

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net")
						img(src="img/projects/hideman_site.jpg", alt="").item__img
					.item__name 
						a(href="https://www.hideman.net").link 3-я версия сайта Hideman VPN
					.item__time Дизайн и&nbspверстка. 2017

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="https://tyugaev.github.io/number-divider/")
						img(src="img/projects/number-divider.png", alt="").item__img
					.item__name 
						a(href="https://tyugaev.github.io/number-divider/").link number-divider.js
					.item__description 
						p jQuery плагин, который разбивает числа по формату.
					.item__time Ведение проекта, дизайн и&nbspверстка. 2017

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					img(src="img/projects/pivoprovod.jpg", alt="").item__img
					.item__name Сайт доставки пива «Пивопровод»
					.item__time Ведение проекта, дизайн и&nbspверстка. 2014

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/chrome/")
						img(src="img/projects/hideman_chrome.png", alt="").item__img
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/chrome/").link Расширение Hideman VPN для&nbspГугл Хрома
					.item__time Дизайн и&nbspверстка. 2017

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/macos/")
						img(src="img/projects/hideman_mac.png", alt="").item__img
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/macos/").link Hideman VPN для&nbspmacOS
					.item__time Дизайн. 2016

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/ios/")
						img(src="img/projects/hideman_ios.png", alt="").item__img.item__img_noround
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/ios/").link Hideman VPN для&nbspайфона и&nbspайпада
					.item__time Дизайн. 2016

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/android/")
						img(src="img/projects/hideman_android.png", alt="").item__img.item__img_noround
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/android/").link Hideman VPN для&nbspАндройда
					.item__time Дизайн. 2016

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					img(src="img/projects/skycinema.png", alt="").item__img.item__img_noround
					.item__name Сайт кинотеатра Sky-cinema
					.item__time Ведение проекта, дизайн и&nbspверстка. 2015

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					img(src="img/projects/hideman_logo.png", alt="").item__img.item__img_noround
					.item__name Логотип Hideman VPN
					.item__time 2015

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					img(src="img/projects/tarelka.png", alt="").item__img.item__img_noround
					.item__name Сайт доставки еды «Тарелка»
					.item__time Дизайн и&nbspверстка. 2015

				.item.grid-item.emerge.col-xl-4.col-md-6.site
					img(src="img/projects/dinix_logo.png", alt="").item__img.item__img_noround
					.item__name Логотип веб-студии Dinix
					.item__time 2013

	.section-footer
		.footer
			.container-fluid.text-center
				.row
					.col-lg-12
						.footer__contact
							.footer__contact__item
								a.link_noborder(href="tel:79068991681") +7 906 899-16-81
							.footer__contact__item
								a.link(href="https://vk.com/lihachev_ivan") vk.com/lihachev_ivan
							.footer__contact__item почта: 
								a.link_noborder(href="mailto:design@dinix.ru") design@dinix.ru
						
				.row
					.col-lg-12
						.footer__likely
							.likely.likely-light.likely-big(data-url="http://zaverstal.ru")
								.vkontakte Поделиться
								.facebook Поделиться
								.twitter Твитнуть
					.col-lg-12 
						.footer__copy &copy; 2016


	