extends layout/main

block title
	| Иван Лихачев. Создание сайтов и лендингов

block content

	.header.section_header
		.container-fluid
			.row
				.col-lg-8
					.header__title
						h1 Создание лендингов под&nbspключ
						p.header__title__text С бесплатным, пожизненным хостингом
				.col-lg-4
					.header__myself.myself
						.row
							.col-xl-4.col-lg-4.col-md-2.col-sm-3.col-4
								.myself__img
									img(class="myself__face" src="img/face.jpg" alt="Иван Лихачев")
							.col-xl-8.col-lg-8.col-md-10.col-sm-9.col-8
								.myself__info
									.myself__name Иван Лихачев
									p.myself__description Работаю дизайнером с&nbsp2010&nbspгода. Живу в&nbspМагнитогорске

	.filter
		.container-fluid
			.row
				.col-12
					.filter__group
						button(data-filter="*").filter__button.filter__button_checked Все
						button(data-filter=".site").filter__button Сайты
						button(data-filter=".mobile").filter__button Мобильные приложения
						button(data-filter=".face").filter__button Интерфейсы
						button(data-filter=".logo").filter__button Логотипы

	.content
		.container-fluid
			.row.grid
				.grid-sizer.col-xl-4.col-md-6

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="http://avtoteam74.ru")
						img(src="img/projects/avtoteam74.jpg", alt="").item__img
					.item__name 
						a(href="http://avtoteam74.ru").link Лендинг компании AvtoTeam74
					.item__time Ведение проекта, дизайн и&nbspверстка. Январь 2018

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="http://muzbay.ru")
						img(src="img/projects/muzbay.jpg", alt="").item__img
					.item__name 
						a(href="http://muzbay.ru").link Muzbay. Педалборды и гитарные ремни
					.item__time Ведение проекта, дизайн и&nbspверстка. Декабрь 2017

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net")
						img(src="img/projects/hideman_site.jpg", alt="").item__img
					.item__name 
						a(href="https://www.hideman.net").link 3-я версия сайта Hideman VPN
					.item__time Дизайн и&nbspверстка. 2017

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="https://tyugaev.github.io/number-divider/")
						img(src="img/projects/number-divider.png", alt="").item__img
					.item__name 
						a(href="https://tyugaev.github.io/number-divider/").link number-divider.js
					.item__description 
						p jQuery плагин, который разбивает числа по формату.
					.item__time Ведение проекта, дизайн и&nbspверстка. 2017

				.item.grid-item.col-xl-4.col-md-6.site
					img(src="img/projects/pivoprovod.jpg", alt="").item__img
					.item__name Сайт доставки пива «Пивопровод»
					.item__time Ведение проекта, дизайн и&nbspверстка. 2014

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/chrome/")
						img(src="img/projects/hideman_chrome.png", alt="").item__img
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/chrome/").link Расширение Hideman VPN для&nbspГугл Хрома
					.item__time Дизайн и&nbspверстка. 2017

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/macos/")
						img(src="img/projects/hideman_mac.png", alt="").item__img
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/macos/").link Hideman VPN для&nbspmacOS
					.item__time Дизайн. 2016

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/ios/")
						img(src="img/projects/hideman_ios.png", alt="").item__img.item__img_noround
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/ios/").link Hideman VPN для&nbspайфона и&nbspайпада
					.item__time Дизайн. 2016

				.item.grid-item.col-xl-4.col-md-6.site
					a(href="https://www.hideman.net/en/docs/download-page/android/")
						img(src="img/projects/hideman_android.png", alt="").item__img.item__img_noround
					.item__name 
						a(href="https://www.hideman.net/en/docs/download-page/android/").link Hideman VPN для&nbspАндройда
					.item__time Дизайн. 2016

				.item.grid-item.col-xl-4.col-md-6.site
					img(src="img/projects/skycinema.png", alt="").item__img.item__img_noround
					.item__name Сайт кинотеатра Sky-cinema
					.item__time Ведение проекта, дизайн и&nbspверстка. 2015

				.item.grid-item.col-xl-4.col-md-6.site
					img(src="img/projects/hideman_logo.png", alt="").item__img.item__img_noround
					.item__name Логотип Hideman VPN
					.item__time 2015

				.item.grid-item.col-xl-4.col-md-6.site
					img(src="img/projects/tarelka.png", alt="").item__img.item__img_noround
					.item__name Сайт доставки еды «Тарелка»
					.item__time Дизайн и&nbspверстка. 2015

				.item.grid-item.col-xl-4.col-md-6.site
					img(src="img/projects/dinix_logo.png", alt="").item__img.item__img_noround
					.item__name Логотип веб-студии Dinix
					.item__time 2013


	.footer
		.container-fluid
			.row
				.col-lg-12
					.footer__contact
						a.link_noborder(href="tel:79068991681") +7 906 899-16-81
					.footer__contact
						a.link(href="https://vk.com/lihachev_ivan") vk.com/lihachev_ivan
					.footer__contact почта: 
						a.link_noborder(href="mailto:design@dinix.ru") design@dinix.ru
					
			.row
				.col-lg-10
					.footer__likely
						.likely.likely-light.likely-big(data-url="http://zaverstal.ru")
							.vkontakte Поделиться
							.facebook Поделиться
							.twitter Твитнуть
				.col-lg-2 
					.footer__copy &copy; 2016

		





	script.
		$(document).ready(function() {
			$('.class').addClass('.class__active')
		});
	