doctype html
html(lang="ru-RU")
	head
		meta(http-equiv="Content-Type" content="text/html, charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=0.85")
		meta(property="og:image" content="img/face.jpg")
		title
			block title
		link(rel="icon" type="image/png" href="img/favicon.ico")
		link(href="css/reset.css" rel="stylesheet" type="text/css")
		link(href="css/style.css" rel="stylesheet" type="text/css")
		link(href="css/bootstrap.grid.css" rel="stylesheet" type="text/css")
		link(href="plugins/fotorama/fotorama.css" rel="stylesheet" type="text/css")
		link(href="plugins/likely/likely.css" rel="stylesheet" type="text/css")
		<style>.emerge { opacity: 0; }</style>
	body

		block content

		include ../modules/google.html
		include ../modules/yandex.html

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="plugins/emerge.js")
		script(src="js/js.js")
		script(src="https://masonry.desandro.com/masonry.pkgd.js")
		script(src="plugins/imagesloaded/imagesloaded.js")
		script(src="plugins/fotorama/fotorama.js")
		script(src="plugins/likely/likely.js")
		script(type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=d1bbb706df7299fb506c2fb0d8fb7cdf" charset="UTF-8")
		script(src="https://mssg.me/widget/ivan_lihachev" async)

		
