.footer
	.container
		.row
			.col-md-12
				//- .likely
				//- 	.vkontakte Поделиться
				//- 	.facebook Поделиться
				//- 	.twitter Твитнуть
				//- 	.odnoklassniki Класснуть
				//- 	.telegram Отправить